---
pageName: main
title: main
pageId: main
indexGroup: main
state:
  default: main
styles:
  - /styles/pages/main.css
scripts:
  - https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js
  - /scripts/pages/main/project.js
---

<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <%- include('/layouts/head'); %>
</head>

<body>
  <div id="app" class="container main__wrap">
    <div class="title-wrap">
      <h1 class="title">{{ ment.title }}</h1>
      <p class="subtitle">{{ ment.sub }}</p>
    </div>
  </div>

  <div class="container">
    <section>

    </section>

    <!-- history -->
    <section class="history">
      <h2>History</h2>
      <ul class="historyList">
        <li>
          <span class="pjTitle"><b>2020. 9 ~ 재직 중</b> 인터파크</span>
          <ul class="pjList">
            <li>매월 진행하는 인터파크 인생날 진행</li>
            <li>인터파크 도서 모바일 메인 접근성</li>
            <li>인터파크 티켓 모바일 결제 UI 고도화 </li>
            <li>티켓매니저 어드민</li>
            <li>기획전 템플릿</li>
            <li>라이브TV 영상재생 UI 작업</li>
            <li>스토어 메인, 카테고리 UI</li>
            <li>투어 PC 검색리스트 UI</li>
          </ul>
        </li>
        <li>
          <span class="pjTitle"><b>2016. 11 ~ 2020. 8</b> 메가존</span>
          <ul class="pjList">
            <% [
            { title: '돌체구스토 일렉트로마트', link: false },
            { title: '킨더조이, 킨더크리스피 이벤트 작업', link: false },
            { title: '커버댄스 사이트 유지보수', link: 'http://coverdance.seoul.co.kr' },
            { title: '쌤소나이트 기획전, 이벤트, 뉴스레터, 사이트 유지보수', link: 'https://www.samsonitemall.co.kr/' },
            { title: '스마트카라 사이트 유지보수 및 관리', link: 'https://www.smartcara.com/onlineShop' },
            { title: '폭스바겐 투아렉 런칭 사이트', link: '있느넫...' },
            { title: '베비언스 카브리타 마이크로 사이트', link: false },
            { title: 'DONGINBI 싱글에센스 런칭 캠페인', link: 'https://www.pentacle.co.kr/work/304', modal: true },
            { title: '세타필 레스토라덤(AD) 동안바디 캠페인', link: 'https://www.pentacle.co.kr/work/257', modal: true }
          ].forEach(e => { %>
            <li><%= e.title %></li>
          <% }); %>
          </ul>
        </li>
        <li>
          <span class="pjTitle"><b>2016. 4 ~ 2016. 10</b> 더더함 커뮤니케이션</span>
          <ul class="pjList">
            <% [
              '킨텍스 원시티', '거제센트럴자이', '동천자이 2차', '화이트코리아(주)'
            ].forEach(e => { %>
              <li><%= e %></li>
            <% }); %>
          </ul>
        </li>
        <li><span>2015.10 - 2016.03</span> 스마트웹 / 컨텐츠개발 수료</li>
      </ul>
      <p>등 다수 사이트 작업</p>
    </section>

    <!-- project -->
    <section class="project">
      <div class="carousel">
        <svg id="blob-1" viewbox="0 0 800 800">
          <defs>
            <clippath id="mask">
              <path id="path-1"/>
            </clippath>
          </defs>
          <path id="path-2" />
        </svg>
        <div class="carousel--images">
          <img class="active" src="https://images.unsplash.com/photo-1595857819837-1c820f33e62d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80" alt="" />
          <img src="https://images.unsplash.com/photo-1595719078597-f8ba9cc6ae72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1533&q=80" alt="" />
          <img src="https://images.unsplash.com/photo-1462804993656-fac4ff489837?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80" alt="" />
        </div>
        <button type="button" class="carousel--play">
          Click
        </button>
      </div>
    </section>
  </div>
</body>
</html>

<%- include('/layouts/scripts'); %>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      ment: {
        title: 'LEE HEE SOO PORTFOLIO',
        sub: '웹퍼블리셔 이희수 포트폴리오 사이트 입니다 :)'
      }
    },
    methods: {
      ieCheck() {
        const agent = navigator.userAgent.toLowerCase()
        if (
          (navigator.appName === 'Netscape' &&
            navigator.userAgent.search('Trident') !== -1) ||
          agent.includes('msie')
        ) {
          // IE 일 경우
          alert('다른 브라우저를 이용해주세요.')
        }
      },
      titleMotion(e) {
        let mouseX = 0
        let mouseY = 0
        let traX = 0
        let traY = 0
        mouseX = e.pageX
        mouseY = e.pageY
        traX = (4 * mouseX) / 570 + 40
        traY = (4 * mouseY) / 570 + 50
        document.querySelector('.title').style.backgroundPosition =
          traX + '%' + traY + '%'
      }
    },
    mounted() {
      this.ieCheck();
      document.querySelector('.main__wrap').addEventListener('mousemove', (e) => {
        this.titleMotion(e)
      });
    }
  });
</script>
